{% extends 'information_nkt/base_main.html' %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Nhập thông tin Người Khuyết Tật</h6>
    </div> -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mb-41">
        <h6 class="h3 mb-0 text-gray-800">QUẢN LÍ NGƯỜI DÙNG</h6>
    </div>
    <hr>

    <!-- Content Row NKT-->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-3 col-lg-3 col-tinh">

            <div class="panel panel-default">
                <div class="panel-heading well">Tỉnh Thành</div>
                <div class="panel-body">
                    <form action="" class="form ng-pristine ng-valid">
                        <div class="form-group form-group-sm">
                            <label for="searchText" style="color: #2fa4e7;">
                                Tuyến:
                                <!-- ĐIỀN TỈNH THÀNH Ở ĐÂY-->
                                <span id="selectedOrgUnitText" class="selectedOrgUnitText"></span>
                            </label>
                            <div id="taTree" style="border: 1px solid #cccccc; height:30rem; overflow-y:scroll ;">
                                <a href="">Đà Nẵng</a>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-9 col-lg-9">
            <div class="col-sm-12">
                <div class="well container" style="text-transform: uppercase;">
                    QUẢN LÍ NGƯỜI DÙNG
                </div>
                <div class="container mt-3">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs ">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home">TT NGƯỜI DÙNG</a>
                        </li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="home" class="tab-pane active"><br>
                            <div class="wrapper">
                                <form id="myForm" method="POST">
                                    {% csrf_token %}
                                    <div class="tab">
                                        <h4>Thông tin NKT</h4>
                                        <div class="form-row">
                                            <div class="col-sm-4">
                                                <label for="">
                                                    Tên người dùng
                                                </label> {{forms_user.ten_nguoi_dung}} {% if error_tennguoidung %}
                                                <p style="color: red;">{{ error_tennguoidung}}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="">
                                                    Mật khẩu
                                                </label> {{forms_user.mat_khau}}
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="">
                                                    Nhập lại mật khẩu
                                                </label> {{forms_user.xac_nhan_mat_khau}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-sm-4">
                                                <label for="">
                                                    Họ tên
                                                </label> {{forms_user.ho_ten}}
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="">
                                                    Email
                                                </label> {{forms_user.email}} {% if error_email %}
                                                <p style="color: red;">{{ email_email }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-4">
                                                <label for="">
                                                    Di dộng
                                                </label> {{forms_user.di_dong}}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label for="">Quyền</label>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-sm-4">
                                                <div class="form-check">
                                                    {{forms_user.ql_nguoidung}}
                                                    <label class="form-check-label" for="flexCheckDefault">
                                              QL NGƯỜI DÙNG
                                            </label>
                                                </div>

                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-check">
                                                    {{forms_user.ql_nhaplieu}}
                                                    <label class="form-check-label" for="flexCheckDefault">
                                              QL NHẬP LIỆU
                                            </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-check">
                                                    {{forms_user.khach}}
                                                    <label class="form-check-label" for="flexCheckDefault">
                                              KHÁCH
                                            </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="col-sm-4">
                                                <button type="submit" href="{% url 'admindemo' %}" class="btn btn-primary btn-block">Lưu</button>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="submit" href="#" class="btn btn-success btn-block">Thêm mới</button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                                <div class="form-row">
                                    <div class="col-sm-1">
                                        <label for="">Tuyến</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="usr">

                                    </div>


                                </div>
                                <div class="form-row">
                                    <table id="dataTable" class="display nowrap" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th> Tên người dùng</th>
                                                <th>Quyền</th>
                                                <th>Đơn vị</th>
                                                <th>Họ tên</th>
                                                <th>Email</th>
                                                <th>Di động</th>
                                                <th> Sửa</th>
                                                <th>Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for y in info_user %}
                                            <tr>
                                                <td>{{ y.username }}</td>
                                                <td>quyền</td>
                                                <td>đơn vị</td>
                                                <td>{{y.firstname}}</td>
                                                <td>{{ y.email }}</td>
                                                <td>00000</td>
                                                <td>
                                                    <div class="container">
                                                        <a type="button" class="btn btn-primary" href="{% url 'repair_info_nkt' x.id %}">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="container">
                                                        <!-- Button to Open the Modal -->
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-2-{{ x.id }}">
                                                                          <i class="fas fa-trash-alt"></i>
                                                                        </button>

                                                        <!-- The Modal -->
                                                        <div class="modal fade" id="myModal-2-{{ x.id }}">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">

                                                                    <!-- Modal Header -->
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title">Xóa thông tin</h4>
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    </div>

                                                                    <!-- Modal body -->
                                                                    <div class="modal-body">
                                                                        Bạn có chắc chắn muốn xóa thông tin người dùng <span style="color: blue; font-weight: bold;">{{x.ho_ten_khai_sinh_nkt}} ?</span> Thông tin sau khi xóa không thể khôi phục lại.
                                                                    </div>

                                                                    <!-- Modal footer -->
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>

                                                                        <!-------- GỌI ID CẦN XÓA VÀ ĐẶT VÀO TRONG MỘT ATTR --------->
                                                                        <button type="button" class="btn btn-danger xoa" data-dismiss="" data-id="{{ x.id }}">Xóa</button>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {%endfor%}

                                    </table>
                                    <script>
                                        $(document).ready(function() {
                                            $('#dataTable').DataTable({
                                                dom: 'Bfrtip',
                                                buttons: [
                                                    'copy', 'csv', 'excel', 'pdf', 'print'
                                                ]
                                            });
                                        });
                                    </script>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock %}