{% extends 'information_nkt/base_main.html' %} {% load static %} {% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Báo cáo danh sách Người Khuyết Tật Cần phê duyệt</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="example" class="display nowrap table table-bordered" style="width:100%" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 71px !important; background: rgb(47 164 231 / 20%);">Chọn</th>
                        <th style="width: 165px !important; background:rgb(47 164 231 / 20%);">Họ tên</th>
                        <th style="width: 300px !important; background: rgb(47 164 231 / 20%);">Địa chỉ</th>
                        <th style="width: 100px !important; background: rgb(47 164 231 / 20%);">Ngày sinh</th>
                        <th style="width: 155px !important; background: rgb(47 164 231 / 20%);">Số điện thoại</th>
                        <th style="width: 100px !important; background: rgb(47 164 231 / 20%);">Giới tính</th>
                        <th style="width: 100px !important; background: rgb(47 164 231 / 20%);">Ngày cập nhật</th>
                        <th style="width: 100px !important; background: rgb(47 164 231 / 20%);">Trạng thái</th>

                    </tr>
                </thead>

                <tbody>
                    {% for x in info %}
                    <tr>
                        <td>
                            <form>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                </div>
                            </form>
                        </td>

                        <td>{{ x.ho_ten_khai_sinh_nkt }}</td>
                        <td>{{ x.noi_dk_khai_sinh }}</td>
                        <td>{{ x.ngay_sinh_nkt|date:"d/m/Y" }}</td>
                        <td>{{ x.so_dt_lh }}</td>
                        <td>{{ x.gioi_tinh }}</td>
                        <td>{{ x.ngay_cap_nhat|date:"d/m/Y" }}</td>
                        <td>
                            <div class="container">
                                <!-- Button to Open the Modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-2-{{ x.id }}">
                                                  <i class="fas fa-trash-alt"></i>
                                                </button>

                                <!-- The Modal -->
                                <div class="modal fade" id="myModal-2-{{ x.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Phê duyệt thông tin</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                Bạn có chắc chắn muốn phê duyệt thông tin người khuyết tật <span style="color: blue; font-weight: bold;">{{x.ho_ten_khai_sinh_nkt}} ?</span>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>

                                                <!-------- GỌI ID CẦN XÓA VÀ ĐẶT VÀO TRONG MỘT ATTR --------->
                                                <button type="button" class="btn btn-danger xoa" data-dismiss="" data-id="{{ x.id }}">Phê Duyệt</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>


                    </tr>
                    {% endfor %}
                </tbody>


            </table>
        </div>
    </div>
</div>




{% endblock %}