{% extends 'account/base.html' %} {% load static %} {% block content %}
<div class="limiter">
    <div class="container-login100 " style="background-image: url({% static 'images/bg-02.jpg' %})">
        <div class="col-sm-6">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" style="float: right; background: none; text-align: center;">
                <span>
					<img src="  http://nkt.qlbv.vn/nkt2/assets/img/byt.png" alt="" style="width:296px;">
				</span>
                <br>
                <span>
					<p style="font-family: initial; font-size: 49px; font-weight: bold; color: #fff;">Hệ thống hỗ trợ Người Khuyết Tật</p>
				</span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form" method="POST">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-49">
					ĐĂNG NHẬP HỆ THỐNG
				</span>

                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Tên đăng nhập</span>
                        <!-- <input class="input100" type="text" name="username" placeholder="Type your username"> -->
                        {{ form.username }}
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Mật khẩu</span>
                        <!-- <input class="input100" type="password" name="pass" placeholder="Type your password"> -->
                        {{ form.password }}
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="text-right p-t-8 p-b-31">
                        <a href="#">
                            <!-- Forgot password? -->
                        </a>
                    </div>
                    <script>
                        /*global grecaptcha*/
                        grecaptcha.ready(function() {
                            grecaptcha.execute('6Le5ZDQaAAAAAJDvgXvA_8SA-oi0CcuUCxSu1z-e', {
                                action: "/signin/"
                            }).then(function(token) {
                                document.getElementById('g-recaptcha-response').value = token;
                            });
                        });
                    </script>
                    <script>
                        function onSubmit(token) {
                            document.getElementById("login100-form").submit();
                        }
                    </script>
                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">


                    <span style="color:red; font-weight: bold;">{{ error }} </span>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn" type="submit"></div>
                            <button class="login100-form-btn">
							ĐĂNG NHẬP
                        </button>

                        </div>
                    </div>

                    <!-- <div class="txt1 text-center p-t-54 p-b-20">
                        <span>
						Nếu bạn chưa có tài khoản, bạn hãy nhấn nút phía dưới để đăng ki !
					    </span>
                    </div>

                    <div class="flex-c-m">
                        <a href="#" class="login100-social-item bg1">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="login100-social-item bg2">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="login100-social-item bg3">
                            <i class="fa fa-google"></i>
                        </a>
                    </div> -->

                    <div class="flex-col-c p-t-20">


                        <a href="{% url 'signup' %}" class="txt2">
						Đăng ký
					</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
{% endblock %}