{% extends 'account/base.html' %} {% load static %} {% block content %}
<div class="limiter">
    <div class="container-login100 " style="background-image: url({% static 'images/bg-02.jpg' %})">
        <div class="col-sm-6">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" style="float: right; background: none; text-align: center;">
                <span>
					<img src="  http://nkt.qlbv.vn/nkt2/assets/img/byt.png" alt="" style="width:296px;">
				</span>
                <br>
                <span>
					<p style="font-family: initial;font-size: 49px; font-weight: bold; color: #fff;">Hệ thống hỗ trợ Người Khuyết Tật</p>
				</span>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form" method="POST">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-49">
						ĐĂNG KÝ HỆ THỐNG
					</span>
                    <div class="form-group row">
                        <div class="wrap-input100 validate-input m-b-23 col-sm-6" data-validate="Email is reauired" style='border-right: 2px solid #d9d9d9;'>
                            <span class="label-input100">Họ</span>
                            <!-- <input class="input100" type="email" name="email" placeholder="Type your email"> -->
                            {{ form.firstname }}
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                        <hr>
                        <div class="wrap-input100 validate-input m-b-23 col-sm-6" data-validate="Email is reauired">
                            <span class="label-input100">Tên</span>
                            <!-- <input class="input100" type="email" name="email" placeholder="Type your email"> -->
                            {{ form.lastname }}
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="wrap-input100 validate-input m-b-23 col-sm-6" data-validate="Email is reauired" style='border-right: 2px solid #d9d9d9;'>
                            {% if error1 %}
                            <p style="color: red;">{{ error1 }}</p>
                            {% endif %}
                            <span class="label-input100">Email</span>
                            <!-- <input class="input100" type="email" name="email" placeholder="Type your email"> -->
                            {{ form.email }}
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                        <div class="wrap-input100 validate-input m-b-23 col-sm-6" data-validate="Username is reauired">
                            {% if error %}
                            <p style="color: red;">{{ error }}</p>
                            {% endif %}
                            <span class="label-input100">Tên đăng nhập</span>
                            <!-- <input class="input100" type="text" name="username" placeholder="Type your username"> -->
                            {{ form.username }}
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="wrap-input100 validate-input col-sm-6" data-validate="Password is required" style='border-right: 2px solid #d9d9d9;'>
                            <span class="label-input100">Mật khẩu</span>
                            <!-- <input class="input100" type="password" name="pass" placeholder="Type your password"> -->
                            {{ form.password }}
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>

                        <div class="wrap-input100 validate-input col-sm-6" data-validate="Password is required">
                            <span class="label-input100">Xác nhận mật khẩu</span>
                            <!-- <input class="input100" type="password" name="conf-pass" placeholder="Type your password again"> -->
                            {{ form.confirm_password }}
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>
                    </div>

                    <!-- <div class="text-right p-t-8 p-b-31">
						<a href="#">
							Forgot password?
						</a>
					</div> -->
                    <div class="text-right p-t-8 p-b-31"></div>
                    <script>
                        /*global grecaptcha*/
                        grecaptcha.ready(function() {
                            grecaptcha.execute('6Le5ZDQaAAAAAJDvgXvA_8SA-oi0CcuUCxSu1z-e', {
                                action: "/contact/"
                            }).then(function(token) {
                                document.getElementById('g-recaptcha-response').value = token;
                            });
                        });
                    </script>
                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
								Tạo tài khoản
							</button>
                        </div>
                    </div>
                    <div class="flex-col-c p-t-20">
                        <a href="{% url 'signin' %}" class="txt2">
							Đăng nhập
						</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>
{% endblock %}